.status-bar {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  position: fixed;
  left: inherit;
  top: inherit;
  width: 100%;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 5px;
  margin-right: 15px;
}
